<div class="h-max">
  <div class="grid grid-rows-10 ">
    <div class="bg-[#efefef] rounded-md flex h-[2.5rem]  mb-2 p-2">
      <p class="mr-auto h-max my-auto">HRID:</p>
      <p class="ml-auto h-max my-auto">{{user_profile.ID}}</p>
    </div>

    <div class="bg-[#efefef] rounded-md flex h-[2.5rem]  mb-2 p-2">
      <p class="mr-auto h-max my-auto">Hire Date:</p>
      <p class="ml-auto h-max my-auto">{{user_profile.HireDate}}</p>
    </div>

    <div class="bg-[#efefef] rounded-md flex h-[2.5rem]  mb-2 p-2">
      <p class="mr-auto h-max my-auto">Gender:</p>
      <p class="ml-auto h-max my-auto">{{user_profile.Gender}}</p>
    </div>

    <div class="bg-[#efefef] rounded-md flex h-max  mb-2 p-2">
      <div class="grid w-full">
        <div class="flex">
          <p class="mr-auto h-max my-auto">Department:</p>
          <p class="ml-auto h-max my-auto">{{user_profile.Department}}</p>
        </div>

        <div class="flex">
          <p class="mr-auto h-max my-auto">Region:</p>
          <p class="ml-auto h-max my-auto">{{user_profile.Country}}</p>
        </div>

        <div class="flex">
          <p class="mr-auto h-max my-auto">Team:</p>
          <p class="ml-auto h-max my-auto text-right">{{user_profile.Team}}</p>
        </div>

        <div class="flex">
          <p class="mr-auto h-max my-auto">Supervisor ID:</p>
          <p class="ml-auto h-max my-auto">{{user_profile.supervisorid}}</p>
        </div>
      </div>
    </div>

    <div class="bg-[#efefef] rounded-md flex h-max  mb-2 p-2">
      <div class="grid w-full">
        <div class="flex">
          <p class="mr-auto h-max my-auto">Domain:</p>
          <p class="ml-auto h-max my-auto">{{user_profile.Domain}}</p>
        </div>

        <div class="flex">
          <p class="mr-auto h-max my-auto">NT Account:</p>
          <p class="ml-auto h-max my-auto">{{user_profile.WindowsID}}</p>
        </div>

        <div class="flex">
          <p class="mr-auto h-max my-auto">Email:</p>
          <p class="ml-auto h-max my-auto">{{user_profile.Email}}</p>
        </div>
      </div>
    </div>

  </div>
</div>