<ion-content>
  <div class="flex w-[92%] m-auto relative items-center">
    <ion-item slot="end" fill="clear" lines="none" class="font-bold" style="--background: none;">NEWS</ion-item>
    <ion-item button class="absolute right-0 font-extralight hover:bg-transparent " style="--background: none;"
      (click)="showAll()" fill="clear" lines="none" detail="false" *ngIf="!all">View All</ion-item>
      <ion-item button class="absolute right-0 font-extralight hover:bg-transparent " style="--background: none;"
      href="/home" fill="clear" lines="none" detail="false" *ngIf="all">Back</ion-item>
    <!-- <button type="button" slot="end" class="absolute right-0" (click)="showAll()">View All</button> -->
  </div>

  <ion-slides class="" *ngIf="!all">
    <ion-slide *ngFor="let slide of slider_data" (click)="setOpen(true, slide)">
      <ion-card class="rounded-[2rem] text-left w-[92%]">
        <div class="h-[8rem] w-full bg-[#efefef] bg-cover bg-center imageBG"
          style="background-image: url('../../../assets/img/uploads/{{slide.img}}')">
        </div>
        <ion-card-header class="bg-[#efefef]">
          <ion-card-title color="secondary">{{slide.title}}</ion-card-title>
          <ion-card-subtitle>{{slide.sub_title}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div
    class="h-[22.5rem] overflow-x-scroll pt-2 scrollbar-thin scrollbar-thumb-[#ff6d10] scrollbar-track-[#efefef00]"
    *ngIf="all">
    <div *ngFor="let slide of slider_data" class="pb-10">
      <img alt="Silhouette of mountains" class="m-auto border-4 border-[#efefef]" src="\assets\img\uploads\{{slide.img}}" (click)="setOpen(true, slide)"/>
      <ion-card-header class="h-max bg-[#efefef]">
        <div class="grid grid-cols-5 bg-[#efefef] mb-2 w-full">
          <ion-card-title color="secondary" class="h-max text-[1.3rem] col-span-3 font-bold my-auto">
            {{slide.title}}
          </ion-card-title>
          <div class="items-center">
            <p class="text-center -mb-1 select-none {{slide.liked?'text-[#ff6d10]':''}}">{{slide.likes}}</p>
            <ion-icon name="heart-outline" class="text-center w-full" size="large" *ngIf="!slide.liked"
              (click)="addMinus('likes', 'liked')"></ion-icon>
            <ion-icon name="heart" class="text-center w-full text-[#ff6d10]" size="large" *ngIf="slide.liked"
              (click)="addMinus('likes', 'liked')"></ion-icon>
          </div>
          <div class="items-center">
            <p class="text-center -mb-1 select-none {{slide.shared?'text-[#ff6d10]':''}}">{{slide.shares}}</p>
            <ion-icon name="share-social-outline" class="text-center w-full" size="large" *ngIf="!slide.shared"
              (click)="addMinus('shares', 'shared')"></ion-icon>
            <ion-icon name="share-social" class="text-center w-full text-[#ff6d10]" size="large" *ngIf="slide.shared"
              (click)="addMinus('shares', 'shared')"></ion-icon>
          </div>
          <ion-card-subtitle class="col-span-5">{{slide.sub_title}}</ion-card-subtitle>
        </div>
        <p class="text-justify select-none truncate text-ellipsis">{{slide.context}}</p>
      </ion-card-header>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header class="relative">
        <ion-toolbar>
          <ion-title>News</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, [])">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="ion-padding scrollbar-thin scrollbar-thumb-[#ff6d10] scrollbar-track-[#efefef] overflow-y-scroll">
        <img alt="Silhouette of mountains" class="m-auto" src="\assets\img\uploads\{{modal_data.img}}" />
        <ion-card-header class="h-max bg-[#efefef]">
          <div class="sticky top-0 grid grid-cols-5 bg-[#efefef] mb-2 w-full">
            <ion-card-title color="secondary" class="h-max text-[1.3rem] col-span-3 font-bold my-auto">
              {{modal_data.title}}
            </ion-card-title>
            <div class="items-center">
              <p class="text-center -mb-1 select-none {{modal_data.liked?'text-[#ff6d10]':''}}">{{modal_data.likes}}</p>
              <ion-icon name="heart-outline" class="text-center w-full" size="large" *ngIf="!modal_data.liked"
                (click)="addMinus('likes', 'liked')"></ion-icon>
              <ion-icon name="heart" class="text-center w-full text-[#ff6d10]" size="large" *ngIf="modal_data.liked"
                (click)="addMinus('likes', 'liked')"></ion-icon>
            </div>
            <div class="items-center">
              <p class="text-center -mb-1 select-none {{modal_data.shared?'text-[#ff6d10]':''}}">{{modal_data.shares}}
              </p>
              <ion-icon name="share-social-outline" class="text-center w-full" size="large" *ngIf="!modal_data.shared"
                (click)="addMinus('shares', 'shared')"></ion-icon>
              <ion-icon name="share-social" class="text-center w-full text-[#ff6d10]" size="large"
                *ngIf="modal_data.shared" (click)="addMinus('shares', 'shared')"></ion-icon>
            </div>
            <ion-card-subtitle class="col-span-5">{{modal_data.sub_title}}</ion-card-subtitle>
          </div>
          <p class="text-justify select-none">{{modal_data.context}}</p>
        </ion-card-header>
      </div>
      <ion-footer class="text-center text-gray-700"><small>Posted @{{modal_data.created_at}}</small></ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>