<div class="h-max">

    <div *ngFor="let dates of sample_dates" class="border-l-4 hover:border-[#404e51] group py-2" (click)="catchDates(dates)">
        <div
            class="text-xl rounded-r-xl relative group-hover:bg-white grid grid-cols-1 py-4 px-2 overflow-visible">
            <div class="font-bold text-lg text-[#FF6d10]">
                {{dates.payout}}
            </div>

            <div class="font-light text-sm">
                {{dates.dates[0].date | date: 'MM/dd/yyyy'}} - {{dates.dates[dates.dates.length - 1].date | date:
                'MM/dd/yyyy'}}
            </div>
           
            <div class="" *ngIf="show_calendar == dates.payout">
                <ion-datetime size="cover" presentation="date" class="rounded-[2rem] mt-5" style="--background: #fff" [multiple]="multiple" [value]="caught_dates" [highlightedDates]="highlighted_dates"  readonly></ion-datetime>
            </div>
        </div>
    </div>
</div>