<ion-content>
  <div color="secondary" class="h-screen w-full bg-gradient-to-t from-[#ff9310] to-[#ff6d10] items-center">
    <div class="pt-[20rem] w-full bg-contain bg-center bg-no-repeat imageBG mr-3"
      style="background-image: url('../../assets/img/Ripped_VXI.png')">
    </div>
    <!-- <ion-button  href="/home" class="m-auto">LOGIN</ion-button> -->
    <div class="mx-5 mt-10">
      <input type="number" class="w-full rounded-md font-bold mb-2 text-[#ff6d10]" placeholder="HRID" [(ngModel)]="hrid"
        required>
      <input type="password" class="w-full rounded-md font-bold mb-2 text-[#ff6d10] relative" placeholder="Hire Date: mmddyyyy"
        [(ngModel)]="hire_date">
        <input type="tel" class="w-[88%] rounded-md font-bold mb-2 text-[#ff6c1000] bg-transparent border-0 focus:outline-none focus:ring-0 absolute left-[5%] z-50 selec-none"
        [(ngModel)]="hire_date">
      <!-- <div class="items-start p-auto h-fit mb-4">
        <input type="checkbox" class="rounded-md h-6 w-6" id="remember" [(ngModel)]="remember" [checked]="check">
        <label for="remember" class="ml-3 text-gray-800 select-none">Remember me</label>
      </div>
      <div class="items-start p-auto h-fit mb-4">
        <input type="checkbox" class="rounded-md h-6 w-6" id="keep" [(ngModel)]="keep" [checked]="check">
        <label for="keep" class="ml-3 text-gray-800 select-none">Keep me logged in</label>
      </div> -->

      <ion-button color="primary" class="w-full mr-1" (click)="fetchUser(1)" [disabled]="!hrid || !hire_date">
        <ion-icon name="sync-outline" class="animate-spin" *ngIf="loading"></ion-icon>
        <p *ngIf="!loading">Login</p>
        <p *ngIf="loading">Logging...</p>
      </ion-button>
    </div>
  </div>
</ion-content>