<div color="medium" class="h-96 w-full ml-auto mr-auto align-middle">
  <!-- <ion-content> -->
    <!-- <ion-slides class="mb-2" [options]="slideOptsOne" #slider>
      <ion-slide > -->
        <ion-card  class="rounded-[1rem] text-left h-24">
          <ion-card-header class="bg-[#efefef] h-full grid grid-cols-4 transform {{slide_in?'translate-x-[0rem] transition duration-500 ease-in-out':slide_out?going_right?'-translate-x-[-22rem]  transition duration-500 ease-in-out':'-translate-x-[22rem] transition duration-500 ease-in-out':going_right?'translate-x-[-22rem]':'translate-x-[22rem]'}}">
            <ion-card-title color="secondary" class="text-[1.5rem] font-extralight truncate grid gird-cols-1 h-max row-span-2 relative">
              <p class="text-sm tracking-[.6rem] -mb-2">{{slider_data[indexer].year}}</p>
              <p class="text-3xl font-extrabold">{{slider_data[indexer].month}}</p>
              <p class="text-sm tracking-[.18rem] font-semibold">{{slider_data[indexer].day}}</p>
            </ion-card-title>
            <ion-card-title class="ml-5 text-end text-[.8rem] font-extralight text-gray-500 truncate row-start-1 col-start-2 col-span-3 mt-7">Your income</ion-card-title>
            <ion-card-title class="ml-5 text-end text-[1.5rem] text-gray-500 font-light truncate row-start-2 col-start-2 col-span-3 -mt-1">{{slider_data[indexer].pay}}</ion-card-title>
          </ion-card-header>
          <button class="absolute top-0 bottom-0 h-full text-black/0  hover:text-black/100 hover:bg-gray-300/25 w-8" (click)="goLeft()"><ion-icon class="text-2xl" name="chevron-back"></ion-icon></button>
          <button class="absolute top-0 bottom-0 right-0 h-full text-black/0  hover:text-black/100 hover:bg-gray-300/25 w-8" (click)="goRight()"><ion-icon class="text-2xl rotate-180" name="chevron-back"></ion-icon></button>
        </ion-card>

        <div color="medium" class="h-96 w-full ml-auto mr-auto rounded-[2rem] align-middle border mt-5">
          <div class="grid grid-cols-2">
            <p>Total:</p>
            <p>{{slider_data[indexer].pay}}</p>
          </div>
          <div class="grid gap-2 grid-cols-2" *ngFor="let deets of slider_data[indexer].details">
            <p>{{deets.name}}:</p>
            <p>{{deets.val}}</p>
          </div>
        </div>
      <!-- </ion-slide>
    </ion-slides> -->
  <!-- </ion-content> -->
  
</div>