<div class="h-screen pt-44 overflow-hidden">
  <div class="grid grid-cols-3 mb-2 w-[92%] m-auto {{reading || creating?'hidden':'visible'}}">
    <p class="text-center {{filter == 'open'?'text-white':'text-gray-400'}}" (click)="changeFilter('open')">
      <ion-icon *ngIf="filter == 'open'" name="ellipse" class="mb-[.15rem] text-[.5rem] mr-1"></ion-icon>
      Open
    </p>
    <p class="text-center {{filter == 'Closed'?'text-white':'text-gray-400'}}" (click)="changeFilter('Closed')">
      <ion-icon *ngIf="filter == 'Closed'" name="ellipse" class="mb-[.15rem] text-[.5rem] mr-1"></ion-icon>
      Closed
    </p>
    <p class="text-center {{filter == 'all'?'text-white':'text-gray-400'}}" (click)="changeFilter('all')">
      <ion-icon *ngIf="filter == 'all'" name="ellipse" class="mb-[.15rem] text-[.5rem] mr-1"></ion-icon>
      All
    </p>
    <!-- <p class="text-center text-gray-600 bg-gray-300 rounded-full w-max px-2 ml-2 font-bold">Create</p> -->
  </div>


  <div class="h-full rounded-t-[2rem] bg-white pt-2">

    <p class="sticky top-0 bg-white z-50 font-bold pt-3 text-2xl rounded-t-[2rem] mx-5">
      <ion-icon name="chevron-back-outline" *ngIf="reading || creating" class="mr-3 font-extralight"
        (click)="back()"></ion-icon>
      {{reading?open_message.Subject:(creating?(subject_line?.length == 0 || subject_line ==null?'New
      Message':subject_line):'Inbox')}}
    </p>

    <div #scrollMe
      class="mx-4 placeholder:text-slate-400 {{reading?'h-[80%]':'h-[85%]'}} overflow-x-scroll m-auto mb-5 scrollbar-thin scrollbar-thumb-[#ff6c104b] scrollbar-track-[#efefef00] scrollbar-thumb-rounded-full scrollbar-h-12 ">
      <div (click)="read(msg, i)" *ngFor="let msg of sample_msg; let i = index"
        [hidden]="reading || creating || msg.Messages[msg.Messages.length - 1]?.Body == 'hide'">
        <div
          class="m-auto rounded-lg h-[5rem] mt-2 p-2 px-3 mb-2 grid grid-cols-5 hover:bg-gray-200 {{msg.Status == 'Closed'?'text-gray-400':''}} {{!msg.Messages[msg.Messages.length - 1]?.isRead && user_profile.Hrid != msg.Messages[msg.Messages.length - 1]?.Sender?'font-bold bg-[#efefef50]':'font-light'}} relative"
          *ngIf="msg.Status === filter || filter == 'all'">
          <p class="row-span-2 w-max my-auto">
            <ion-icon
              name="{{msg.Status == 'open'?(msg.Messages[msg.Messages.length - 1]?.isRead?'lock-open-outline':(msg.Messages[msg.Messages.length - 1]?.Sender == user_profile.Hrid?'lock-open-outline':'lock-open')):'lock-Closed-outline'}}"
              class="text-3xl"></ion-icon>
          </p>
          <p class="text-xl col-span-3 text-ellipsis truncate">{{msg.Subject}}</p>
          <p
            class="text-xs col-span-3 col-start-2 text-ellipsis truncate {{!msg.Messages[msg.Messages.length - 1]?.isRead && user_profile.Hrid != msg.Messages[msg.Messages.length - 1]?.Sender?'font-extrabold':''}}">
            {{msg.Messages[msg.Messages.length - 1]?.Sender == user_profile.Hrid?'You':msg.Messages[msg.Messages.length - 1]?.Sender}}: {{msg.Messages[msg.Messages.length - 1]?.Body}}</p>
          <!-- <small
            *ngIf="msg.Messages[msg.Messages.length - 1]?.isRead && msg.Messages[msg.Messages.length - 1].Recipient != user_profile.Hrid"
            class="absolute right-2 bottom-0">
            <ion-icon class="text-blue-500" name="eye" style="font-size: 20px;"></ion-icon>
          </small> -->
          <p class="text-xs text-right col-start-5 row-start-1">{{msg.Messages[msg.Messages.length - 1]?.CreatedAt |
            date: 'MMM dd'}}</p>
        </div>
      </div>

      <!-- Opening messages -->
      <div *ngFor="let msg of open_message.Messages; let i = index" class="grid grid-cols-12 pr-4 relative group"
        [hidden]="!reading">

        <div
          class="w-[3rem] h-[3rem] rounded-full bg-[#efefef] col-span-2 text-center font-bold pt-4 mt-8 visible {{open_message.Messages[i]?.Sender == open_message.Messages[i-1]?.Sender?'invisible':''}}"
          *ngIf="msg.Sender != user_profile.Hrid">HR</div>
        <div
          class="{{msg.Sender == user_profile.Hrid?'col-span-12 rounded-l-xl':'col-span-10 rounded-r-xl'}} text-base whitespace-pre-line w-max min-w-[10%] max-w-[70%] {{msg.Sender == user_profile.Hrid?'ml-auto bg-[#cae5ff]':'mr-auto bg-[#ffe8d9]'}} p-4 {{(open_message.Messages[i]?.Sender == open_message.Messages[i-1]?.Sender) && ((open_message.Messages[i]?.CreatedAt | date: 'MMM dd yyyy - HH:mm') == (open_message.Messages[i-1]?.CreatedAt | date: 'MMM dd yyyy - HH:mm'))?'':(msg.Sender == user_profile.Hrid?'rounded-tr-xl mt-4':'rounded-tl-xl mt-4')}} {{(open_message.Messages[i]?.Sender == open_message.Messages[i+1]?.Sender) && ((open_message.Messages[i]?.CreatedAt | date: 'MMM dd yyyy - HH:mm') == (open_message.Messages[i+1]?.CreatedAt | date: 'MMM dd yyyy - HH:mm'))?'mb-[.15rem]':(msg.Sender == user_profile.Hrid?'rounded-br-xl':'rounded-bl-xl')}}  relative">
          {{msg.Body}}
        </div>
        <div
          [hidden]="(msg.CreatedAt | date: 'MMM dd yyyy - HH:mm') == (open_message.Messages[i+1]?.CreatedAt | date: 'MMM dd yyyy - HH:mm')"
          class="relative col-span-12 {{msg.Sender == user_profile.Hrid?'text-right':'col-start-3'}} text-sm text-gray-600 mt-1">
          <ion-icon class="text-blue-500 absolute bottom-0 right-16" name="eye"
            style="font-size: 25px; line-height: .25rem; padding-bottom: -20px;"
            [hidden]="!reading || (!msg?.isRead || i != (open_message.Messages?.length - 1)) || msg.Recipient == user_profile.Hrid"></ion-icon>
          {{msg.CreatedAt | date: 'hh:mm a'}}
        </div>

        <!-- <small class="absolute right-5 -bottom-2">
          <ion-icon name="checkmark-done"></ion-icon>
        </small> -->

        <div
          class="col-span-12 {{(msg.CreatedAt | date: 'MMM dd yyyy') != (open_message.Messages[i+1]?.CreatedAt | date: 'MMM dd yyyy')?'border-b pb-2 mt-2 mb-2':''}} text-gray-500 text-sm "
          *ngIf="(msg.CreatedAt | date: 'EEE, MMM dd yyyy') != (today | date: 'EEE, MMM dd yyyy')">
          <div class="w-max mx-auto flex">
            <p [hidden]="(msg.CreatedAt | date: 'MMM dd') == (open_message.Messages[i+1]?.CreatedAt | date: 'MMM dd')">
              {{msg.CreatedAt | date: 'EEE, MMM dd'}}</p>
            <p [hidden]="(msg.CreatedAt | date: 'yyyy') == (open_message.Messages[i-1]?.CreatedAt | date: 'yyyy')">
              {{msg.CreatedAt | date: ', yyyy '}}</p>
          </div>
        </div>
      </div>
      <!-- Opening messages -->

      <!-- Creating new message -->
      <div class="text-base w-full p-4 my-4 rounded-lg mb-4 grid grid-cols-1 gap-4 mt-5" [hidden]="!creating">
        <input type="text" placeholder="Subject" class="w-full rounded-full" [(ngModel)]="subject_line">
        <textarea name="" id="" rows="10" class="rounded-[1rem]" placeholder="Body" [(ngModel)]="body_line"></textarea>
        <button class="w-full h-12 bg-transparent border group"
          (click)="submit()"
          [disabled]="subject_line?.length == 0 || body_line?.length == 0 || body_line == null || subject_line == null">
          <div class="w-52 h-[3.7rem] shadow-slate-500 shadow m-auto rounded-lg bg-orange-800 mt-5 border-2 border-black relative">
            <div class="w-52 h-[3.7rem] -mt-3 -ml-0.5 pt-3 hover:-mt-0.5 group-disabled:-mt-0.5 group-disabled:bg-orange-500 bg-orange-600 rounded-lg border-2 border-black border-b-0 text-center text-2xl text-white font-bold absolute">

                  Submit Message

            </div>
          </div>
        </button>
      </div>
      <!-- Creating new message -->
    </div>

    <!-- Reply Textbox -->
    <div class="w-full mt-auto h-max grid grid-cols-12 p-1 px-2 sticky bottom-0 pr-5" *ngIf="reading">
      <textarea name="" id="" rows="1" class="rounded-full bg-[#efefef] col-span-10 w-full mr-2 resize-none"
        [(ngModel)]="reply_msg" [disabled]="open_message.Status == 'Closed' "></textarea>
      <button
        class="m-auto w-auto leading-5 px-2 py-[.3rem] rounded-full disabled:bg-[#efefef] bg-[#FF6D10] col-span-2 ml-5"
        [disabled]="reply_msg == null || reply_msg?.length == 0" (click)="reply()">
        <ion-icon name="paper-plane-outline" class="text-2xl font-bold text-white mt-1"
          style="font-size: 28px;"></ion-icon>
      </button>
    </div>
    <!-- Reply Textbox -->

    <!-- Create New Button -->
    <div
      class="w-auto px-4 py-[.8rem] rounded-full bg-gradient-to-r from-pink-400 to-violet-600 antialiased absolute right-10 bottom-10"
      [hidden]="reading || creating" (click)="create()">
      <ion-icon name="create-outline" class="text-2xl font-bold text-white" style="font-size: 34px;"></ion-icon>
    </div>
    <!-- Create New Button -->

  </div>
</div>