ion-spinner {
    width: 50px !important;
    height: 50px !important;
}

.notif {
    animation: spin 1s backwards infinite;
  }
  
  @keyframes spin {
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(-15deg);
    }
  }