<ion-app>
  <div class="ion-page bg-white" id="main-content">
    <ion-header class="overflow-hidden ion-no-border z-40 {{sub_theme == 'messages'?'bg-[#404e51]':''}}">
      <ion-toolbar color="primary" class=" w-[92%] rounded-b-[2rem] ml-auto mr-auto align-middle">
        <div class="h-[5rem] relative mx-2 flex items-end mb-4">
          <ion-buttons slot="start" class="w-[3rem] h-[3rem]">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div class="w-full h-[3rem] bg-contain bg-center bg-no-repeat mx-4"
            style="background-image: url('../../assets/img/VXIONE_logo_white.png');" (click)="changeTheme('')">
          </div>
          <div>
            <div
              class="w-[3rem] h-[3rem] rounded-full bg-contain bg-no-repeat border-[3px] border-[#FF6D10] {{theme == 'profile'?'opacity-0 cursor-default':''}} relative"
              style="background-image: url('../../../assets/img/Default.png')" (click)="changeTheme('profile')">
              <ion-icon name="alert-circle" class="text-[#ff0000] bg-white rounded-full absolute -bottom-1 -right-1 text-lg notif"></ion-icon>
            </div>
            
          </div>
        </div>
        <div class="mx-6 relative mb-2" *ngIf="theme != 'profile'">
          <p class="font-extralight text-[.7rem] tracking-[.2rem]">WELCOME</p>
          <!-- <small class="block mb-4">{{!user_profile?'Non':user_profile.LastName}}, {{!user_profile?'VXI':user_profile.FirstName}} {{!user_profile?'':user_profile.MiddleName[0]}}</small> -->
          <strong >{{!user_profile?'Non':user_profile.LastName}}, </strong>
          <p class="inline-flex font-light">{{!user_profile?'VXI':user_profile.FirstName}} {{!user_profile?'':user_profile.MiddleName[0]}}</p>
        </div>
      </ion-toolbar>
      <!-- <div class="w-[92%] m-auto mt-2 text-2xl font-bold">FEED</div> -->
    </ion-header>

    <ion-content [fullscreen]="true">
      <div class="h-full {{sub_theme == 'messages'?'':'overflow-x-scroll m-auto scrollbar-thin scrollbar-thumb-[#ff6c104b] scrollbar-track-[#efefef00] scrollbar-thumb-rounded-full'}}">
        <app-news *ngIf="theme == ''"></app-news>
        <app-profile *ngIf="theme == 'profile'" [user_profile]="user_profile" (sub_theme)="addSubTheme($event)"></app-profile>
      </div>
    </ion-content>
  </div>

  <ion-menu contentId="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar color="medium">
        <div class="h-[4rem] bg-contain bg-no-repeat bg-center"
          style="background-image: url('../../assets/img/VXI_logo_black_low.png');">
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content color="medium" class="ion-padding">
      <ion-item (click)="changeTheme('')" button>
        <p>Home</p>
        <ion-icon class="text-[#ff6d10]" name="home" slot='end'></ion-icon>
      </ion-item>
      <!-- <ion-item href="/news" button>
        <p>News</p>
        <ion-icon class="text-[#ff6d10]" name="newspaper" slot='end'></ion-icon>
      </ion-item> -->
      <ion-item (click)="changeTheme('profile')" button [hidden]="sub_theme == 'messages'">
        <p>Profile</p>
        <ion-icon class="text-[#ff6d10]" name="person-circle" slot='end'></ion-icon>
      </ion-item>
      <ion-item (click)="logOut()" button>
        <p>Logout</p>
        <ion-icon class="text-[#ff6d10]" name="log-out" slot='end'></ion-icon>
      </ion-item>

      <ion-item (click)="changeTheme('profile')" button class="absolute bottom-4 w-full item-background-color"
        lines="none">
        <div>
          <div
            class="w-[3rem] h-[3rem] rounded-full bg-contain bg-no-repeat border-[3px] border-[#FF6D10]"
            style="background-image: url('../../../assets/img/Default.png')" (click)="changeTheme('profile')">
          </div>
        </div>
        <div class="text-left w-full ml-2">
          <strong class="w-full">{{!user_profile?'Non':user_profile.LastName}}, </strong>
          <p class="font-light">{{!user_profile?'VXI':user_profile.FirstName}}
            {{!user_profile?'':user_profile.MiddleName[0]}}</p>
        </div>
      </ion-item>
    </ion-content>
  </ion-menu>
</ion-app> 

<!-- <div class="w-full h-[50%]  absolute bottom-0 z-50">
   <ion-icon name="chatbubble-ellipses" class="bg-gradient-to-r from-purple-400 to-pink-600 absolute bottom-10 right-10 text-5xl"></ion-icon>
</div> -->